/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  default: (primary: #FFEF5F,
    secondary: #1a1600,
    shadow: #5a5000,
    white: #fff8eb,
  ),

  contrasted: (primary: #fffced,
    secondary: #1a1600,
    shadow: #4d4940,
    white: #fff8eb,
  ),
);